/Practicos/Practica2/JavaApplication49/nbproject/private/
/Practicos/Practica2/Practica2/nbproject/private/
/Practicos/Practica2/Practica2/build/
/Practicos/Practica2/Practica3/nbproject/private/
/Practicos/Practica3/Practica3/build/
/Practicos/Practica2/Practica4/nbproject/private/
/Practicos/Practica4/build/
/Practicos/Practica4/nbproject/private/